body,h1,h2,h3,h4,h5,h6 {font-family: "", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}

/* background images */
.bgImage, .bgImage2, .bgImage3, .bgImage4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage {
  background-image: url("images/indianHeads.jpg");;
  min-height: 100%;
}
.bgImage2 {
  background-image: url("images/bgImage2.jpg");
  min-height: 444px;
}
.bgImage3 {
  background-image: url("images/bgImage3.jpg");
  min-height: 444px;
}
.bgImage4 {
  background-image: url("images/bgImage4.jpg");
  min-height: 444px;
}

.wide {letter-spacing: 10px;}
/* 
@media only screen and (max-device-width: 1600px) {
  .bgImage, .bgImage2, .bgImage3 {
    background-attachment: scroll;
    min-height: 444px;
  }  
*/

/* responsive views */
}
@media (max-width: 600px) {
    .hideSmall {
        display: none !important;
    }
}
@media (min-width: 993px) {
    .hideLarge {
        display: none !important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .hideMedium {
        display: none !important;
    }
}



/* navigation */
.navBar {
    width: 100%;
    overflow: hidden;
}
.navBar .barItem {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.navBar .button {
    white-space: normal;
}
.smolNavBlock .barItem {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}
.blackHover:hover {
    color: #fff !important;
    background-color: #000 !important;
}
.hoverRed:hover {
    color: #fff !important;
    background-color: #f44336 !important;
}
.animateTop {
    position: relative;
    animation: animatetop 0.4s;
}
.show {
    display: block !important;
}


/* color and things similar */
.white {
    color: #000 !important;
    background-color: #fff !important;
}
.whiteishText {
    color: #E6E2B6 !important;
}
.black {
    color: #fff !important;
    background-color: #000 !important;
}
.blackText,
.hoverBlackText:hover {
    color: #000 !important;
}
.lightGrey {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}
.greyText {
    color: #757575 !important;
}
.greyPurpleText {
    color: #CFC7D0 !important;
}
.seafoamText {
    color: #48998A !important;
}
.otherGreen {
    color: #E6E2B6 !important;
    background-color: #85B79C !important;
}
.right {
    float: right !important;
}


/* bgImage and logo */
.imageContainer {
    position: relative;
}

.opacity {
    opacity: 0.75;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.centerText {
    text-align: center !important;
}
.reallyBig {
    font-size: 24px !important;
}
.wide {
    letter-spacing: 4px;
}
.opacityTime {
    animation: opac 0.8s;
}


/* page container */
.container:after, 
.container:before,
.padding:after,
.padding:before,
.navBar:before,
.navBar:after
{
    content: "";
    display: table;
    clear: both;
}
.col,
.half,
.third,
.twoThirds
 {
    float: left;
    width: 100%;
}

.pageContent{
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}
.marginTop {
    margin-top: 16px !important;
}
@media (min-width: 601px) {
    .third {
        width: 33.33333%;
    }
    .twoThirds {
        width: 66.66666%;
    }
    .half {
        width: 49.99999%;
    }
}
.padding,
.padding > .half,
.padding > .third,
.padding > .twoThirds,
.padding > .col {
    padding: 0 8px;
}
.container {
    padding: 0.01em 16px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
}


.marginRight33{
    margin-right: 33px !important;
}
/* left column */
.marginRight {
    margin-right: 16px !important;
}
.large {
    font-size: 18px !important;
}
.xlargeBorder {
    border-radius: 16px;
}
.smallFont {
    font-size: 12px !important;
}
.boxShadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottomLeft {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* right column */
.otherboxShadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.marginBottom {
    margin-bottom: 16px !important;
}
.padding16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.xxlargeFont {
    font-size: 36px !important;
}
.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.round {
    border-radius: 4px;
}

/* projects */
.padding64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.margin16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.morePadding {
    padding: 12px 24px !important;
}

/* contacts */
.padding32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.panel {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
}
.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.border {
    border: 1px solid #ccc !important;
}
.opacityOff:hover {
    opacity: 1;
}
.opacityHover:hover {
    opacity: 0.6;
}