body,h1,h2,h3,h4,h5,h6 {font-family: "", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.bgImage, .bgImage2, .bgImage3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgImage {
  background-image: url("../images/bgImage.jpg");;
  min-height: 100%;
}

.bgImage2 {
  background-image: url("../images/bgImage2.jpg");
  min-height: 400px;
}

.bgImage3 {
  background-image: url("../images/bgImage3.jpg");
  min-height: 400px;
}

.wide {letter-spacing: 10px;}
.hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 1600px) {
  .bgImage, .bgImage2, .bgImage3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}